*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(bg.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
}

.taskbar{
    width: 100%;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content:center ;
    background-color:#f3f3f3;
    z-index: 110;
}

.righttaskbar{
    justify-self: flex-end;
    position: absolute;
    right:0;
    margin: 6px 0;
    height: 85%;
}
.startmenu{
    position: absolute;
    /* bottom: 50px; */
    bottom: -646px;
    width: 100%;
    height: auto;
    text-align: center;
    transition: all 0.0.10s ease-in;
}

.startmenu img{
    border-radius: 8px;
}
